<nav class="navbar fixed-top navbar-expand-sm navbar-dark" id="myNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Anime Indonesia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'animelist:index' %}">Animelist</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Artikel</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'artikel:index' %}">Semua Artikel</a></li>
                        <li><a class="dropdown-item" href="#">Berita Terbaru</a></li>
                        <li><a class="dropdown-item" href="#">Acara Mendatang</a></li>
                        <li><a class="dropdown-item" href="#">Pengumuman</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Developer</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/api/anime/" target="_blank">API</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">Admin Dashboard</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>