{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS and favicon -->
    {% include "snippets/styles.html" %}
    <title>{{page}} - {{website}}</title>
</head>

<body>
    {% include "snippets/navbar.html" %}

    <!-- Jumbotron -->
    {% include "snippets/jumbotron.html" %}

    <div class="container bg-light shadow mt-5">
        {% block berita %}
        {% endblock berita %}
    </div>

    <!-- Form pencarian -->
    <div class="container" style="margin-top: 50px;">
        {% block form_pencarian %}
        {% endblock form_pencarian %}
    </div>

    <!-- Container untuk data anime -->
    <div class="container bg-light shadow" style="margin-bottom: 20px; margin-top: 50px;">
        <h1 class="text-center pb-5 pt-2">Daftar Anime di database</h1>
        {% block query_anime %}
        {% endblock query_anime %}
    </div>

    <!-- Bootstrap JavaScript -->
    {% include "snippets/scripts.html" %}
</body>

</html>