{% extends "base.html" %}
{% load static %}
{% block query_anime %}
<style>
  #query-anime {
    /* border: 1pt solid black; */
    margin-left: 5%;
    margin-right: auto;
    margin-top: 10px;
  }
  #detail-anime {
    text-decoration: none;
    color: #222222;
  }
  #detail-anime:hover {
    color: #2b2b2b;
  }
  #anime-pic {
    width: 50%;
    margin-left: 20%;
    margin-right: auto;
  }
  #option-submit {
    border: none;
    border-radius: 5pt;
    height: 35px;
  }
</style>

<!-- Query from database -->
{% for anime in Anime %}
<table id="query-anime" cellspacing="0" cellpadding="5">
  <tr>
    <td rowspan="3"><img id="anime-pic" src="/static/assets/95946.jpg" alt="Dummy"></td>
    <td colspan="2"><h4>
      <a id="detail-anime" href="#">{{anime.anime_title}}</a>
    </h4></td>
  </tr>
  <tr>
    <td>{{anime.anime_score}} | {{anime.airing_time}} | {{anime.studio}}</td>
  </tr>
  <tr>
    <td>
      <button id="option-submit" class="btn btn-submit bg-dark text-white" type="submit">Tambah ke List</button>
      <button id="option-submit" class="btn btn-submit bg-dark text-white" type="submit">Lihat di MyAnimeList</button>
    </td>
  </tr>
</table>
<hr>
{% endfor %}
{% endblock query_anime %}
